.List {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.check {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check_box {
    appearance: none;
    width: 20px;
    height: 20px;
    outline: none;
    border: 1px solid #333;
    border-radius: 50%;
    -webkit-appearance: none;
}

.check_box.active{
    background: url(../../../public/images/check.png) center;
    background-size: 95%;
}